<section id="gtco-about" data-section="about">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Welcome To Our Law Offices</h1>
        <p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Welcome</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-pull-1 animate-box" data-animate-effect="fadeInLeft">
        <div class="img-shadow">
          <img src="images/img_1.jpg" class="img-responsive" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
        </div>
      </div>
      <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
        <h2 class="heading-colored">Excellence &amp; Honesty</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut praesentium nihil hic quam culpa magnam ducimus suscipit repellat quidem cumque, unde impedit, labore earum eligendi perspiciatis nemo molestiae sequi veritatis. Veritatis, reprehenderit, eaque! Rerum, libero ipsam enim, iusto adipisci quae repellendus officia consequatur ducimus cupiditate impedit, aliquam numquam excepturi.</p>
        <p><a href="#" class="read-more">Read more <i class="icon-chevron-right"></i></a></p>
      </div>
    </div>
  </div>
</section>
