<section id="gtco-hero" class="gtco-cover" style="background-image: url(assets/images/img_bg_4.jpg);"  data-section="home"  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-0 text-center">
        <div class="display-t">
          <div class="display-tc">
            <h1 class="animate-box" data-animate-effect="fadeIn">The Greatest Firm You Can Trust</h1>
            <p class="gtco-video-link animate-box" data-animate-effect="fadeIn"><a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-controller-play"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
