<section id="gtco-practice-areas" data-section="practice-areas">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 heading animate-box" data-animate-effect="fadeIn">
        <h1>Practice Areas</h1>
        <p class="sub">Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        <p class="subtle-text animate-box" data-animate-effect="fadeIn">Practice <span>Areas</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Criminal Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Industrial Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Financial Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Divorce Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Corporate Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

        <div class="gtco-practice-area-item animate-box">
          <div class="gtco-icon">
            <img src="images/scale.png" alt="Free HTML5 Bootstrap Template by GetTemplates.co">
          </div>
          <div class="gtco-copy">
            <h3>Accident Law</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed scelerisque sapien. Sed sodales, libero non faucibus rutrum, purus tellus finibus diam, eget ornare tortor leo eget erat. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
