<!DOCTYPE HTML>
<!--
	Justice by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	{% include head.html %}
	</head>
	<body>
	<div class="gtco-loader"></div>
	<div id="page">
    {% include navigation.html %}
  	{% include cover.html %}
    {% include about.html %}
    {% include pratice-areas.html %}
    {% include our-team.html %}
    {% include contact.html %}
    {% include footer.html %}
	</div>
  {% include scripts.html %}
	</body>
</html>
